fieldset {
  margin-left: 600px;
  padding: 2em;
  width: 30em;
  height: 620px;
  border-radius: 5px;
  border-color: #2d333b;
  background: darkslategrey;
  box-shadow: 0 2px 2px #131518;
}

#profile-create {
  margin-left: 600px;
  padding: 2em;
  width: 30em;
  height: 800px;
  border-radius: 5px;
  border-color: #2d333b;
  background: darkslategrey;
  box-shadow: 0 2px 2px #131518;
}

#profile-create input{
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #384049;
  background: #15171b;
  display: block;
  width: 80%;
  height: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

#log-in {
  margin-left: 600px;
  padding: 2em;
  width: 30em;
  height: 250px;
  border-radius: 5px;
  border-color: #2d333b;
  background: darkslategrey;
  box-shadow: 0 2px 2px #131518;
}

#log-in input{
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #384049;
  background: #15171b;
  display: block;
  width: 80%;
  height: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

fieldset legend{
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 0.5em;
  color: white;
  background: #171a1e;
  border-width: 1px;
  border-style: solid;
  width: 95%;
}

input, textarea, select {
  padding-left: 14px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #384049;
  background: #15171b;
  display: block;
  width: 80%;
  height: 33px;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

input[type=text], input[type=text], input[type=number], input[type=url], input[type=radio], input[type=text], input[type=text], select {
  font-size: 1.2em;
  line-height: 1;
  padding: 0.3em 0.4em;
  margin: 0 0.5em 1em 0;
}

input[type=text]:hover, textarea, select, input[type=url]:hover {
  border-color: #39a086;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus, input[type=url]:focus {
  outline: none;
  border-color: lightyellow;
}

.edit-profile, .create-client, .edit-client, .create-opportunity , .create-opportunity-finish, .create-product, .edit-product, .edit-bg, .create-bg, .edit-opportunity, .add-opp_prod{
  margin-left: 150px;
  text-align: center;
  box-shadow: 0 0 5px 0;
  border-radius: 100px;
  display: block;
  width: 150px;
  height: 50px;
  font-size: 25px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #45a29e 0%, #0d324d 74%);
  color: #c5c6c7;
}

.log-in:hover, .edit-profile:hover, .edit-client:hover, .create-client:hover, .create-opportunity:hover, .create-opportunity-finish:hover, .create-product:hover, .edit-product:hover, .edit-bg:hover, .create-bg:hover, .edit-opportunity:hover, .add-opp_prod:hover{
  cursor: pointer;
  color: #45a29e;
  font-weight: bolder;
}

.create-opportunity-finish {
  margin-bottom: 10px;
  text-decoration: none;
  height: 30px;
  background-image: linear-gradient(315deg, rosybrown 0%, darkred 74%);
}

.log-in {
  margin-top: 20px;
  margin-left: 150px;
  text-align: center;
  box-shadow: 0 0 5px 0;
  border-radius: 100px;
  display: block;
  width: 150px;
  height: 50px;
  font-size: 25px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #45a29e 0%, #0d324d 74%);
  color: #c5c6c7;
}

/*checklist of the products included in opportunity*/
.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: darkgoldenrod;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.check-list {
  height: 280px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: start;
}

