{% extends 'base.html' %}
{% block page_content %}
<section class="editPage">
    <form method="post" action="{% url 'edit profile' request.user.id %}">
        <fieldset>
            <legend>Edit Profile</legend>
            <div class="container">
                {% csrf_token %}
                {{ form }}
                <a class="change-pass" href="{% url 'change password' %}">Change Password</a>
                <button class="edit-profile" type="submit">Edit</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}