{% extends 'base.html' %}
{% block page_content %}
    <h1>PROFILE PAGE</h1>

<section id="user-profile">
    <div class="wrapper">
        <div class="profile-picture">
            <img src="{{ profile.photo_url }}" alt="description">
        </div>
        <div class="profile-text">
            <h1>
                Name: {{ profile.full_name }}
            </h1>
            <h1>
                Email: {{ profile.user.email }}
            </h1>
            <h1>
                Manager: {{ profile.manager }}
            </h1>
            <h1>
                Is Manager: {{ profile.is_manager }}
            </h1>
            <h1>
                Business Group: {{ profile.group }}
            </h1>
            <h1>
                Opportunities #: {{ opps_total }}
            </h1>
        </div>

        <div class="actionBtn">
            <a class="edit" href="{% url 'edit profile' request.user.id %}" >Edit</a>
{#            <a class="delete" href="#" >Delete</a>#}
        </div>
    </div>
</section>
{% endblock %}