{% extends 'base.html' %}
{% block page_content %}
{% if in_edit_mode %}
    <section id="opp-profile">
        <div class="details">
            <div class="opp-text">
                <h1> You have not finalized one edit opportunity! </h1>
                <h1> Name: {{ in_edit_mode.name }} </h1>
                <h1> Name: {{ in_edit_mode.client }} </h1>
                <h1> Owner: {{ in_edit_mode.owner }} </h1>
                <h1> Created on: {{ in_edit_mode.create_date }} </h1>
                <h1>Please finalize it before reaching your dashboard.</h1>
                <h1>
                    By clicking on below button you will be redirected to finalize page
                    where you can "FINISH" pending editable opportunity.
                </h1>
                <div class="actionmessage">
                    <a class="edit-opportunity" href="{% url 'opportunity all products' in_edit_mode.pk %}" >Continue</a>
                </div>
            </div>
        </div>
    </section>
{% else %}
<table>
    <div class="items-list">
        {% if request.user.is_authenticated %}
            <h2> Yours/team activities: </h2>
            <h2> # Opps: {{ opp_num }} </h2>
            <h2> Total Net: {{ opps_total|floatformat:2 }}$ </h2>
                {% for opp in opportunities %}
                    {% if opp.owner == request.user %}
                        <li>
                            <div>
                                <p> Opp Name: {{ opp.name }} </p>
                                <p> Opp ID: {{ opp.id }} </p>
                                <p> Owner: {{ opp.owner }} </p>
                                <p> Status: {{ opp.status }} </p>
                                <p> Client: {{ opp.client }} </p>
                            </div>
                            {% for key, value in opp_gross_amount.items %}
                                {% if key == opp.id %}
                                    <div id="opp-net-total">
                                        Opp Net Amount: {{ value|floatformat:2 }}$
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </li>
                        <div>
                            <a id="detailbtn" href="{% url 'details opportunity' opp.id %}">Details</a>
                        </div>
                    {% else %}
                        {% for employee in manager_emplyees %}
                            {% if opp.owner|stringformat:'e' == employee|stringformat:'e' %}
                                <li>
                                    <div>
                                        <p> Opp Name: {{ opp.name }} </p>
                                        <p> Opp ID: {{ opp.id }} </p>
                                        <p> Owner: {{ opp.owner }} </p>
                                        <p> Status: {{ opp.status }} </p>
                                        <p> Client: {{ opp.client }} </p>
                                    </div>
                                    {% for key, value in opp_gross_amount.items %}
                                        {% if key == opp.id %}
                                            <div id="opp-net-total">
                                                Opp Net Amount: {{ value|floatformat:2 }}$
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                <div>
                                    <h3> For Details: Please check with Opportunity owner </h3>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
        {% endif %}
        <div class="pagination">
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    <a class="active"> Page {{ page_obj.number }}</a>
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</table>
{% endif %}
{% endblock %}