{% extends 'base.html' %}
{% block page_content %}
<section id="user-home">
    {% if request.user.is_authenticated %}
        <h1>Welcome to your opportunity portal {{ request.user }}!</h1>
        <div id="option-box">
            <a href="{% url 'create opportunity' %}" class="fill-div">Create Opportunity</a>
        </div>
        <div id="option-box">
            <a href="{% url 'clients catalog' %}" class="fill-div">Clients Catalog</a>
        </div>
        <div id="option-box">
            <a href="{% url 'create client' %}" class="fill-div">Create Client</a>
        </div>
        <div id="option-box">
            <a href="{% url 'products catalog' %}" class="fill-div">Products Catalog</a>
        </div>
        <div id="option-box">
            <a href="{% url 'create product' %}" class="fill-div">Create Product</a>
        </div>
        <div id="option-box">
            <a href="{% url 'create businessgroup' %}" class="fill-div">Create Business Group</a>
        </div>
        <div id="option-box">
            <a href="{% url 'businessgroup catalog' %}" class="fill-div">Business Groups Catalog</a>
        </div>


    {% else %}
        <div class="register-details">
            <h2>
                Welcome To Opportunity Management Tool!
            </h2>
            <h3>Please</h3>
            <h3>to enter your profile</h3>
            <h3>or</h3>
            <h3>to start your journe</h3>
                <ul>
                    <li><a href="{% url 'request user' %}" >Register</a></li>
                    <li><a href="{% url 'login user' %}" >Log in</a></li>
                </ul>
        </div>
    {% endif %}
</section>
{% endblock %}