{% extends 'base.html' %}
{% block page_content %}
<section id="user-home">
    {% if request.user.is_authenticated %}
        <h1>Welcome to your opportunity portal {{ request.user }}!</h1>
        <div id="option-box">
            <a href="{% url 'create opportunity' %}" class="fill-div">Create Opportunity</a>
        </div>
        <div id="option-box">
            <a href="{% url 'opps to be deleted' %}" class="fill-div">To Be Deleted Opportunities</a>
        </div>
        <div id="option-box">
            <a href="{% url 'clients catalog' %}" class="fill-div">Clients Catalog</a>
        </div>
        <div id="option-box">
            <a href="{% url 'create client' %}" class="fill-div">Create Client</a>
        </div>
        <div id="option-box">
            <a href="{% url 'products catalog' %}" class="fill-div">Products Catalog</a>
        </div>
        <div id="option-box">
            <a href="{% url 'create product' %}" class="fill-div">Create Product</a>
        </div>
        <div id="option-box">
            <a href="{% url 'create businessgroup' %}" class="fill-div">Create Business Group</a>
        </div>
        <div id="option-box">
            <a href="{% url 'businessgroup catalog' %}" class="fill-div">Business Groups Catalog</a>
        </div>


    {% else %}
        <div class="register-details">
            <h2>
                Welcome To Opportunity Management Tool!
            </h2>
            <h3>Please</h3>
            <a id="log-out" href="{% url 'login user' %}" >Log in</a>
            <h3>to enter your profile or</h3>
            <a id="register" href="{% url 'request user' %}" >Register</a>
            <h3>to start your journey!</h3>
        </div>
    {% endif %}
</section>
{% endblock %}