{% extends 'base.html' %}
{% block page_content %}
<section class="editPage">
    <form method="post" >
        <fieldset id="delete-item">
            <legend>Delete Opportunity Product</legend>
            <div class="container">
                {{ form }}
                {% csrf_token %}
                <h1>Are you sure you want to delete product "{{ object.name }}"?</h1>
                <a class="cancel-delete" href="{% url 'opportunity all products' object.opportunity_id %}">Cancel</a>
                <button class="delete-item" type="submit">Delete</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}